table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #7d7d7d;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #a4a4a4;
}

body {
    font-size: 20px;
}

textarea {
    width: 100%;
    height: 144px;
}

#board1 {
    width: 400px;
}

#rules {
    clear: both;
}

.left {
    float: left;
}

.centered {
    margin:0 auto;
    width: 800px;
}

.playerselectbutton {
    width: 100%;
    margin: 0;
}

.players option{
    width: 150px;
    height: 100%;
    font-size: 18px;
}

.playwith {
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.chessboard {
    width: 400px;
}

.clearfix-7da63 {
    clear: both;
}

/* board */
.board-b72b1 {
    border: 2px solid #404040;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* square */
.square-55d63 {
    float: left;
    position: relative;

    /* disable any native browser highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* white square */
.white-1e1d7 {
    background-color: #f0d9b5;
    color: #b58863;
}

/* black square */
.black-3c85d {
    background-color: #b58863;
    color: #f0d9b5;
}

/* highlighted square */
.highlight1-32417, .highlight2-9c5d2 {
    -webkit-box-shadow: inset 0 0 3px 3px yellow;
    -moz-box-shadow: inset 0 0 3px 3px yellow;
    box-shadow: inset 0 0 3px 3px yellow;
}

/* notation */
.notation-322f9 {
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: absolute;
}
.alpha-d2270 {
    bottom: 1px;
    right: 3px;
}
.numeric-fc462 {
    top: 2px;
    left: 2px;
}